<footer>
  <h1>Baryonyx</h1>
  <div class="details">
    <ul>
      <li><a href="/"><i class="bx bx-home-alt"></i> dashboad</a></li>
      <li><a href="/machine"><i class="bx bx-laptop"></i> machine</a></li>
      <li><a href="/rooms"><i class="bx bx-globe"></i> rooms</a></li>
      <li><a href="/globel-chat"><i class="bx bx-chat"></i> globel-chat</a></li>
      <li><a href="/terms_and_conditions"><i class="bx bx-info-circle"></i> terms and conditions</a></li>
    </ul>
  </div>
  <p>&copy; Baryonyx. <span id="f-date"></span> All Rights Reserved</p>
  <p> Designed by muhammedhabeeb</p>
  <script>
    document.querySelector('#f-date').innerHTML = new Date().getFullYear()
  </script>
</footer>