<section class="global-chat">
	<div class="header">
		<h1>global chat</h1>
	</div>
	<div class="chat-container">

	</div>
	<div class="chat-input-container">
		<input type="text" id="message-input">
		<button type="submit"><i class="bx bx-send"></i></button>
	</div>
</section>