<section class="machine">
	{{#if result}}
	 	{{#each machines}}

			{{/each}}
	<!-- search result here-->
	{{else}}
	<form action="/machines" method="get">
		<input type="text" name="q" placeholder="Search">
		<button type="submit">Search</button>
	</form>

	<div class="most-used-machine">
		<div class="machine-container">
			<div class="machine-top">
				<h1>title of the machine</h1>
				<span><i class="bx bx-user"></i> 1000</span>
			</div><!-- machine top-->
			<div class="machine-bottom">
				<span class="machine-scope">PE 200</span>
				<span class="machine-category">Category : Linux</span>
				<button>Join</button>
			</div>
		</div><!--end machine container-->


		<div class="machine-container">
			<div class="machine-top">
				<h1>title of the machine</h1>
				<span><i class="bx bx-user"></i> 1000</span>
			</div><!-- machine top-->
			<div class="machine-bottom">
				<span class="machine-scope">PE 200</span>
				<span class="machine-category">Category : Linux</span>
				<button>Join</button>
			</div>
		</div><!--end machine container-->
		<div class="machine-container">
			<div class="machine-top">
				<h1>title of the machine</h1>
				<span><i class="bx bx-user"></i> 1000</span>
			</div><!-- machine top-->
			<div class="machine-bottom">
				<span class="machine-scope">PE 200</span>
				<span class="machine-category">Category : Linux</span>
				<button>Join</button>
			</div>
		</div><!--end machine container-->
		<div class="machine-container">
			<div class="machine-top">
				<h1>title of the machine</h1>
				<span><i class="bx bx-user"></i> 1000</span>
			</div><!-- machine top-->
			<div class="machine-bottom">
				<span class="machine-scope">PE 200</span>
				<span class="machine-category">Category : Linux</span>
				<button>Join</button>
			</div>
		</div><!--end machine container-->
		<div class="machine-container">
			<div class="machine-top">
				<h1>title of the machine</h1>
				<span><i class="bx bx-user"></i> 1000</span>
			</div><!-- machine top-->
			<div class="machine-bottom">
				<span class="machine-scope">PE 200</span>
				<span class="machine-category">Category : Linux</span>
				<button>Join</button>
			</div>
		</div><!--end machine container-->
		<div class="machine-container">
			<div class="machine-top">
				<h1>title of the machine</h1>
				<span><i class="bx bx-user"></i> 1000</span>
			</div><!-- machine top-->
			<div class="machine-bottom">
				<span class="machine-scope">PE 200</span>
				<span class="machine-category">Category : Linux</span>
				<button>Join</button>
			</div>
		</div><!--end machine container-->
		<div class="machine-container">
			<div class="machine-top">
				<h1>title of the machine</h1>
				<span><i class="bx bx-user"></i> 1000</span>
			</div><!-- machine top-->
			<div class="machine-bottom">
				<span class="machine-scope">PE 200</span>
				<span class="machine-category">Category : Linux</span>
				<button>Join</button>
			</div>
		</div><!--end machine container-->
	</div>
	{{/if}}
</section>