<section id="login-reset" class="auth">
	<form action="/login/reset-password" method="post" onsubmit="return validation()" oninput="validation()" enctype="application/x-www-form-urlencoded">

			{{#if reset}}
			<span>{{resetEmail}}</span>
			<div class="field">
				<label for="code">Code</label>
				<div class="input">
					<i class="bx bx-code"></i>
					<input type="text" name="code" id="code" required autocomplete="off">
					<i class='bx bx-error-circle error-icon'></i>
				</div>
				<span class="error-msg">enter the code.</span>
			</div>

			<div class="field">
				<label for="password">Password</label>
				<div class="input">
					<i class="bx bx-lock"></i>
					<input type="password" name="password" id="password" required autocomplete="off">
					<i class='bx bx-error-circle error-icon'></i>
				</div>
				<span class="error-msg">Password must contain at least one uppercase letter, one lowercase letter, one digit, and one special character.</span>
			</div>

			<button type="submit">save</button>
			{{else}}
			<div class="field">
				<label for="email">email</label>
				<div class="input">
					<i class="bx bxl-gmail"></i>
					<input type="email" name="email" id="email" autocomplete="off" required>
					<i class='bx bx-error-circle error-icon'></i>
				</div>
				<span class="error-msg">Enter the valid email address.</span>
			</div>

			<button type="submit">send</button>
			{{/if}}
			
	</form>

	{{#if reset}}
	<script>
		let password = document.getElementById('password')
		let errorIcon = document.getElementsByClassName('error-icon');
		let errorMsg = document.getElementsByClassName('error-msg');
		let inputField = document.getElementsByClassName('input')

		function validation(){

		const passwordPattern = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)[A-Za-z\d@$!%*#?&]{8,50}$/;
		let valid = {}
		if(password.value.match(passwordPattern)){
				errorIcon[1].classList.remove('active')
				errorMsg[1].classList.remove('active')
				inputField[1].classList.remove('active')

				valid.password = true
			}
			else{
				errorIcon[1].classList.add('active')
				errorMsg[1].classList.add('active')
				inputField[1].classList.add('active')
				valid.password = false
			}

			if(valid.password && valid.code) return true;

			return false
		}
	</script>

	{{else}}
<script>
			let email = document.getElementById('email')
			let errorIcon = document.getElementsByClassName('error-icon');
			let errorMsg = document.getElementsByClassName('error-msg');
			let inputField = document.getElementsByClassName('input')
			
		function validation(){

  	const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+[A-Za-z\d@]$/;

			if(email.value.match(emailPattern)){
				errorIcon[0].classList.remove('active')
				errorMsg[0].classList.remove('active')
				inputField[0].classList.remove('active')

				return true
			}
			else{
				errorIcon[0].classList.add('active')
				errorMsg[0].classList.add('active')
				inputField[0].classList.add('active')
			}
			return false
		}
	</script>
	{{/if}}
</section>