<section id="search-section">
    <div class="search-key">
        <h1>search key : <span>{{query}}</span></h1>
    </div>
    <div class="seach-result">
        <h1>search result here {{script}}</h1>
    </div>
    <div class="search-filter-options">
        
    </div>
    <div class="search-ads">

    </div>
</section>